*,html,body{
    margin: 0;
    padding: 0;
}

html,body{
    overflow-x: hidden;
}

@font-face {
    font-family: "ZenAnt-Light";
    src: url(../font/ZenKakuGothicAntique-Light.ttf);
}


@font-face {
    font-family: "ZenAnt-Regular";
    src: url(../font/ZenKakuGothicAntique-Regular.ttf);
}

a{
    color: #fff;
    text-decoration: none;
    transition: .1s ease;
}

a:hover,a:active{
    color: #D80000;
}

img{
    vertical-align: bottom;
}

ul,li{
    list-style: none;
}
/* header////////////////////////////////////////////////////////////////////////////// */
header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* icon////////////////////////////////////////////////////////////////////////////// */
.icon{
    width: 104px;
    height: 96.222px;
    flex-shrink: 0;
    position: fixed;
    top: 60px;
    left: 30px;
}
.icon img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.icon p{
    width: 100%;
    font-family: "ZenAnt-Light";
    color: #959595;
    font-size: 14px;
    letter-spacing: 5px;
}

/* navigation/////////////////////////////////////////////////////////////////////////// */
#nav_check{
    display: none;
}
.navigation{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 70px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120;
    cursor: pointer;
}
.navigation span,
.navigation span::before,
.navigation span::after{
    content: "";
    display: block;
    width: 22.86px;
    height: 1px;
    background-color: #000;
    position: absolute;
    transition: .2s ease;
}
.navigation span::before{
    bottom: 8.14px;
}
.navigation span::after{
    top: 8.14px;
}
#nav_check:checked ~ .navigation span {
    background-color: rgba(255, 255, 255, 0);
}
#nav_check:checked ~ .navigation span::before {
    bottom: 0;
    transform: rotate(405deg);
    background-color: #fff;
}
#nav_check:checked ~ .navigation span::after {
    top: 0;
    transform: rotate(-405deg);
    background-color: #fff;
}
/* hamburger/////////////////////////////////////////////////////////////////////////// */
.nav_link .nav_menu{
    display: none;
    flex-direction: column;
    transition: .2s ease;
    z-index: 100;
}

.nav_link .nav_back_01{
    width: 100%;
    height: 100%;
    background: #e8e8e8;
    position: fixed;
    opacity: 60%;
    z-index: 100;
}
.nav_link .nav_back_02{
    width: 100%;
    height: 100%;
    display: flex;
    background: #000;
    position: fixed;
    right: -110vw;
    transition: .2s ease;
    opacity: 45%;
    z-index: 110;
}
.nav_link nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -110vw;
    transition: .2s ease;
    z-index: 110;
}
.nav_link ul{
    width: 50%;
    height: 41.9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav_link li{
    color: #fff;
    z-index: 110;
    font-family: "ZenAnt-Light";
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3px;
}
#nav_check:checked ~ .nav_menu{
    display: flex;
}
#nav_check:checked ~ nav,
#nav_check:checked ~ .nav_back_02{
    right: 0;
}


/* main////////////////////////////////////////////////////////////////////////////////////////// */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    display: none;
}

#main_cont{
    width: 84.61vw;
    margin-top: 200px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* footer//////////////////////////////////////////////////////////////////////////////////////// */
footer{
    width: 100%;
    height: 80px;
    background-color: #959595;
    color: #fff;
    position: relative;
    bottom: 0;
}

/* メディアクエリ////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width:767px){
    .scroll{
        display: none;
    }

    .cont{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont img{
        width: 100%;
        height: 40.51vw;
        background-color: #D9D9D9;
        background-position: bottom center;
        background-repeat: no-repeat;
        order: 1;
    }
    
    .cont p{
        width: 100%;
        height: 80px;
        padding: 5px;
        box-sizing: border-box;
        color: #000;
        order: 2;
        overflow-wrap: break-word;
    }
}
@media screen and (min-width:768px) and (max-width:1203px){
    h1{
        display: block;
        margin-top: 230px;
        font-family: "ZenAnt-Regular";
        font-size: 30px;
        letter-spacing: 5px;
    }

    #main_cont{
        width: 68.313vw;
        margin-top: 120px;
        padding: 20px;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .scroll{
        display: none;
    }

    .cont{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont img{
        width: 100%;
        aspect-ratio: 16/9;
        background-color: #D9D9D9;
        order: 1;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .cont p{
        width: 100%;
        height: 80px;
        padding: 5px;
        box-sizing: border-box;
        color: #000;
        order: 2;
        overflow-wrap: break-word;
    }
}
@media screen and (min-width:1204px){
    .icon{
        width: 10.29vw;
        height: 88px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 120px;
        left: 4.04vw;
    }
    
    .icon img{
        width: 3.67vw;
        height: 3.67vw;
        flex-shrink: 0;
    }
    
    .icon p{
        width: 100%;
        font-family: "ZenAnt-Light";
        color: #959595;
        font-size: 15px;
        letter-spacing: 5px;
        text-align: center;
        position: relative;
        top: -5px;
    }

    .nav_link .nav_back_02{
        width: 45%;
    }
    .nav_link nav{
        width: 45%;
    }
    .navigation{
        width: 3.67vw;
        height: 3.67vw;
        position: fixed;
        top: 140px;
        right: 7.51vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 120;
        cursor: pointer;
    }
    .navigation span,
    .navigation span::before,
    .navigation span::after{
        content: "";
        display: block;
        width: 2.1vw;
        min-width: 22.86px;
        height: 1px;
        background-color: #000;
        position: absolute;
        transition: .2s ease;
    }
    .navigation span::before{
        bottom: 0.73vw;
    }
    .navigation span::after{
        top: 0.73vw;
    }

    .scroll{
        display: block;
        width: 1px;
        height: 400px;
        position: fixed;
        bottom: 0;
        right: 11.18vw;
        display: flex;
        background-color: #D9D9D9;
    }
    .scroll::before{
        content: "";
        position: absolute;
        width: 1px;
        height: 400px;
        background-color: #00add8;
        transform-origin: top center;
        animation: scroll_animation 2s ease infinite;
        z-index: 10;
    }
    @keyframes scroll_animation {
        0%{
            height: 0;
        }
        100%{
            height: 100%;
        }
    }
    .scroll p{
        height: 16px;
        transform-origin: left bottom;
        color: #959595;
        letter-spacing: 3px;
        font-size: 14px;
        position: relative;
        top: -15px;
        left: 0;
        transform: rotate(90deg);
    }

    h1{
        display: block;
        margin-top: 330px;
        font-family: "ZenAnt-Regular";
        font-size: 30px;
        letter-spacing: 5px;
    }

    #main_cont{
        width: 68.313vw;
        margin-top: 160px;
        padding: 60px;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .cont{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cont img{
        width: 29.42vw;
        aspect-ratio: 16/9;
        background-color: #D9D9D9;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .cont p{
        width: 20.42vw;
        padding: 20px;
        box-sizing: border-box;
        color: #000;
        overflow-wrap: break-word;
    }
    .cont:nth-child(2n) img{
        order: 2;
    }
}