/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Yu Gothic';
    line-height: 1.6;
    background-color: #f0f0f0;
    letter-spacing: 2px;
}

@font-face {
    font-family: "timemachine wa";
    src: url("/static/font/timemachine-wa.ttf") format("truetype");
}

@font-face {
    font-family: "Abel";
    src: url("/static/font/Abel-Regular.ttf") format("truetype");
}

h2,
h3,
p,
input,
textarea {
    font-family: "Abel";
}

.container {
    width: 80vw;
    position: absolute;
}

a {
    text-decoration: none;
    font-weight: 100;
}

/* Load */
/* #Loading{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #0000ff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
} */

h2 {
    font-size: 60px;
    font-family: "Abel";
    font-weight: 300;
}

/* Header */
header {
    width: 19vw;
    height: 100vh;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: left;
    position: fixed;
    z-index: 100;
}

header .head_cont{
    width: 11vw;
    height: 100%;
    position: absolute;
    left: 120px;
}

header .head_logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    top: 9vh;
}

header img {
    width: 60px;
    height: 50px;
}

h1 {
    font-family: "timemachine wa";
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
}

nav {
    height: 252px;
    position: relative;
    top: 300px;
}

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-family: "Abel";
}

nav li a:hover {
    animation: nav_animation 0.1s ease forwards;
}

@keyframes nav_animation {
    0% {
        color: #000000;
    }
    100% {
        color: #d12828;
    }
}

/* Hero Section */
#scroll_top {
    position: absolute;
    bottom: 0;
    right: 80vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#scroll_top span {
    font-family: "timemachine wa";
    font-size: 12px;
    color: #696969;
    display: inline-block;
    transform-origin: right bottom;
    transform: rotate(-90deg);
}

.scroll {
    background-color: #ffffff;
    height: 400px;
    width: 1px;
}

.scroll::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #d12828;
    transform-origin: center top;
    animation: scroll_animation 1.3s ease infinite;
}

@keyframes scroll_animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#hero {
    width: 100%;
    height: 80vh;
    position: relative;
}

.hero-content {
    width: 73vw;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    position: absolute;
    top: 4vh;
    right: 2vw;
    background-image: url("images/sky_00015.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    border-radius: 10px 10px 10px 300px;
    transition: 0.8s ease-in-out;
    color: #000000;
}

.hero-content:hover {
    filter: grayscale(0);
    color: #f0f0f0;
}

.hero-content h2 {
    text-align: right;
    letter-spacing: 10px;
    font-size: 140px;
    font-weight: 700;
    position: absolute;
    bottom: 70px;
    z-index: 20;
}

.hero-content p {
    text-align: center;
    font-size: 70px;
    font-weight: 200;
    margin-top: 0px;
    position: absolute;
    bottom: 0;
    z-index: 20;
}

/* about Section */
#about {
    width: 100%;
    height: 40vh;
    position: relative;
    margin-top: 100px;
}

.about-content {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    right: 0;
}

.about-content h2 {
    text-align: center;
}

.about-content p {
    text-align: left;
    margin-top: 40px;
}

/* projects */
#projects {
    width: 100%;
    height: 1000px;
    position: relative;
}

#projects .container {
    display: flex;
    flex-direction: column;
}

#projects h2 {
    margin-bottom: 50px;
}

.portfolio-item {
    width: 97%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    filter: grayscale(100%);
    transition: 0.1s ease-in-out;
}

.portfolio-item:hover {
    filter: grayscale(0);
}

.portfolio-img {
    width: 100%;
    height: 100%;
    color: #f0f0f0;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: end;
}

.portfolio-img:hover {
    opacity: 1;
    background-color: #00000060;
}

.portfolio-text {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    right: 250px;
}

h3{
    font-size: 30px;
}

#projects .container {
    right: 0;
}

/* Contact Section */
#contact {
    width: 100%;
    height: 70vh;
    margin-top: 200px;
    position: relative;
    display: flex;
    justify-content: right;
}

#contact .container {
    height: 100%;
    background-color: #696969;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    color: #f0f0f0;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
    margin-top: 30px;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.form_c {
    height: 40px;
}

textarea {
    resize: none;
    width: 100%;
    height: 20vh;
}

#page_top {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 10%;
    z-index: 100;
}

#page_top a {
    width: 100%;
    height: 100%;
    color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    height: 120px;
}

footer p{
    position: absolute;
    left: 120px;
    font-size: 12px;
}
