{% extends 'base.html' %}
{% block scroll %}
<div class="scroll">
    <p>Scroll</p>
</div>
{% endblock %}
{% block content %}
<!-- <div id="loading"><p>Welcome to my site.</p></div> -->
<main>
    <h1>MACHiDA HAYATO</h1>
    <section id="works">
        {% for item in items %}
        <a href="/{{item.url}}" class="cont openModalBtn" data-modal="modal{{ item.pk }}">
            <img src="/{{item.image_url}}" style="background-image: url(/{{item.image_url}});">
        </a>
        <!-- <div id="modal{{ item.pk }}" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modalMain">
                    <p>This is Modal {{ item.pk }}.</p>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div> -->
        {% endfor %}
    </section>
</main>

<!-- <div id="page_top"><a href="#"><p>Page Top</p></a></div> -->
{% endblock %}