{% extends 'base.html' %}
{% block scroll %}
<div class="scroll">
    <p>Scroll</p>
</div>
{% endblock %}
{% block content %}
<!-- <div id="loading"><p>Welcome to my site.</p></div> -->
<main>
    <h1>MACHiDA HAYATO</h1>
    <section id="main_cont">
        {% for item in items %}
        <div class="cont openModalBtn" data-modal="modal{{ item.pk }}">
            <img style="background-attachment: fixed; background-image: url(/{{item.image_url}});">
            <p>{{ item.description }}</p>
        </div>
        <div id="modal{{ item.pk }}" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>This is Modal {{ item.pk }}.</p>
            </div>
        </div>
        {% endfor %}
    </section>
</main>

<!-- <div id="page_top"><a href="#"><p>Page Top</p></a></div> -->
{% endblock %}